# Fichier de configuration local
/.env

# Dossier où sont stockés les données téléchargées depuis l'AN
/data

# Dossier où sont stockés les photos de députés téléchargés et les bundles JS/CSS
/static

# Les roles ansible installés et la clé ansible-vault
/playbooks/vendors
/pass.vault

# Les fichiers utilisés par doit
.doit.*

# Python
__pycache__

# Pycharm
/.idea/

# node
node_modules