[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
doit = "*"
pandas = "*"
requests = "*"

[packages]
dj-email-url = "*"
dj-database-url = "*"
django = "*"
django-phonenumber-field = "*"
markdown = "*"
phonenumberslite = "*"
pillow = "*"
psycopg2 = "*"
sentry-sdk = "*"
systemd = "*"

[requires]
python_version = "3.8"
