[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pandas = "*"
black = "==19.10b0"

[packages]
django = "*"
dj-database-url = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
