{% extends 'appels/layout.html' %}
{% load static %}

{% block opengraph %}
  <meta property="og:title" content="Allo député⋅e — ma retraite est en danger"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://allodepute.fr"/>
  <meta property="og:image" content="https://allodepute.fr{% static "img/banniere_og.png" %}"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  <meta property="og:description"
        content="Faisons connaître notre opposition au projet de réforme aux député⋅es de la majorité et convainquons-les de refuser le projet ! Assurons-nous que chaque député⋅e En Marche reçoive chaque jour au moins un coup de fil."/>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@nosretraites">
  <meta name="twitter:title" content="Allo député⋅e — ma retraite est en danger">
  <meta name="twitter:description"
        content="Faisons connaître notre opposition au projet de réforme aux député⋅es de la majorité pour les convaincre de refuser le projet !">
  <meta name="twitter:image" content="https://allodepute.fr{% static "img/banniere_twitter.png" %}">
{% endblock %}


{% block main %}
  <!-- deputes -->

  <div class="py-2">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-8 col-md-5 mx-auto text-center sl">
          <h2>Je veux parler à</h2>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-lg-6">
          <div class="px-3 py-4 p-md-4 text-right align-items-end">
            <h4 id="hasard-ou-choix" data-aos="fade-right">{{ depute.article_indefini }} {{ depute.titre }} au hasard</h4>
            <div>
              <h5 class="depute_nom">{{ depute.prenom }} {{ depute.nom }}</h5>
              <p class="depute_circonscription">{{ depute.titre|capfirst }} {{ depute.groupe }} de
                la {{ depute.circonscription.nom }}</p>
            </div>
            <div class="adroite cadre cadre1 depute_image">
              <div style="background-image: var(--cadre),  url({% static depute.image_name %});">
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6  bg-light">
          <div class="px-3 pt-4 pb-5 p-md-4">
            <h5 data-aos="fade-left">je cherche un⋅e député⋅e près de chez moi</h5>
            <div class="py-2">
              <form id="form-cp">
                {% csrf_token %}
                <div class="form-row">
                  <div class="col-auto">
                    <label for="inputcp" class="sr-only">Mon code postal</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="inputcp" placeholder="Mon code postal">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="lead" id="form-message">
              J'indique mon code postal ci-dessus
            </div>
            <div class="row pb-5 text-center d-none" id="liste-deputes">
              <div class="col-md-4 px-1 depute">
                <a href="#" class="cadre cadre2 scale">
                  <div class="img">
                    <div></div>
                  </div>
                </a>
                <div class="nom mt-2">Prénom Nom</div>
              </div>
              <div class="col-md-4 px-1 depute">
                <a href="#" class="cadre cadre3 scale">
                  <div class="img">
                    <div></div>
                  </div>
                </a>
                <div class="nom mt-2">Prénom Nom</div>
              </div>
              <div class="col-md-4 px-1 depute">
                <a href="#" class="cadre cadre4 scale">
                  <div class="img">
                    <div></div>
                  </div>
                </a>
                <div class="nom mt-2">Prénom Nom</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- infos-contact -->
  <div class="container bloc3  bg-primary">
    <div class="row" style="z-index: 10;">
      <div class="col-md-6 p-4">
        <h4 class="sl">j'appelle <span class="depute_nom">{{ depute.prenom }} {{ depute.nom }}</span></h4>
        <div class="d-flex mt-3">
          <i class="d-block fa fa-phone mb-2 fa-3x mr-3"></i>
          <h2 class="depute_numero">{{ depute.telephone_link }}</h2>
        </div>
      </div>
      <div class="col-md-6 p-4">
        <h4 class="sl">et je lui parle de</h4>
        <div class="my-3 dropdown">
          <button class="btn-cust b1 dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
            argumentaires proposés
          </button>
          <div class="dropdown-menu" x-placement="right-start">
            {% for argumentaire in argumentaires %}
              <a class="dropdown-item" data-toggle="modal" data-target="#{{ argumentaire.id }}" href="#">
                {{ argumentaire.titre }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-2">
    <div class="row">
      <div class="col-lg-6 p-3">
        <h5 class="sl">Je lui envoie aussi un tweet</h5>
        <div id="tweets" class="row pt-2{% if not depute.twitter %} d-none{% endif %}" data-aos="fade-up-right">
          {% for tweet in tweets %}
            <div class="col-6">
              <div class="reseau">
                {{ tweet }}
              </div>
              <a href="https://twitter.com/intent/tweet?text={{ adresse_twitter }}%20{{ tweet|urlencode }}&amp;hashtags={{ "allodéputé"|urlencode }}"
                 class="btn-cust b2 my-2" target="_blank">Envoyer ce tweet</a>
            </div>
          {% endfor %}
        </div>
        <div id="no-twitter" class="col align-self-center lead{% if depute.twitter %} d-none{% endif %}">
          Nous ne connaissons pas le compte twitter de <span class="depute_article_demonstratif">{{ depute.article_demonstratif }} {{ depute.titre }}</span> !
        </div>
      </div>
      <div class="col-lg-6 p-3">
        <h5 class="sl">Je lui envoie aussi un mail</h5>
        <a id="email-link" class="btn-cust b2 my-2 " href="mailto:{{ depute.email }}{{ link_data.mailto_qs }}"
           target="_blank" style="width: max-content;">Je lui
          envoie un email</a>
        <p>Si ce lien ne marche pas, je peux copier/coller le texte de l'email :</p>
        <button class="btn-cust b2 my-2 " data-toggle="modal" data-target="#contenu-email">J'accède au texte de l'email
        </button>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
  {{ block.super }}
  {% for argumentaire in argumentaires %}
    <div class="modal fade" id="{{ argumentaire.id }}" role="dialog" aria-labelledby="{{ argumentaire.id }}-title">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="mt-2 text-center"><img height="70px" src="{% static "img/logo-allodepute.svg" %}">
          </div>
          <div class="p-2 bg-secondary">
            <h5 id="{{ argumentaire.id }}-title" class="text-center">{{ argumentaire.titre }}</h5>
          </div>
          <div class="modal-body">
            {% include "argumentaires/intro.md" %}
            {% include argumentaire.template_name %}
            {% include "argumentaires/conclusion.md" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-cust b2" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="modal fade" id="contenu-email" role="dialog" aria-labelledby="contenu-email-title">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="mt-2 text-center"><img height="70px" src="{% static "img/logo-allodepute.svg" %}">
        </div>
        <div class="p-2 bg-secondary">
          <h5 id="contenu-email-title" class="text-center">Sujet : Mon opposition à la réforme des retraites</h5>
        </div>
        <div class="modal-body">
          {{ email_body|linebreaks }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-cust b2" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ link_data|json_script:"donnees" }}
  <script src="index.html"></script>
{% endblock %}